<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-title>
        {{ user?.name }}
        <span *ngIf="isMe">(Me)</span>
      </ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <img [src]="user ? user.photoUrl : ''" />
    </ion-col>
 
    <ion-col col-3>
      <h6 ion-text text-center>Followers</h6>
      <h6 text-center>{{ user?.followersCount }}</h6>
    </ion-col>
 
    <ion-col col-4>
      <h6 text-center>Followings</h6>
      <h6 text-center>{{ user?.followingsCount }}</h6>
    </ion-col>
 
    <ion-col col-2>
      <h6 text-center>Posts</h6>
      <h6 text-center>{{ user?.postsCount }}</h6>
    </ion-col>
 
    <ion-col col-12>
      <p>{{ user?.description }}</p>
    </ion-col>
  </ion-row>
</ion-grid>